<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <img src="img/nischay.jpg" alt="Photo if Nischay Bikram Thapa" height="40%" width="40%" style="margin-bottom: 1.3em">
                <p class="text-faded"> Understanding human behaviour and patterns can be exciting if you have the right questions for the data you have accumulated. Speaking of me, I am passionate about solving problems associated with business through statistics and machine learning. Currently, I am pursuing my Master's degree in Data Science - an interdisciplinary field which combines areas of computer science with mathematical statistics and domain expertise to manage and analyse data -at RMIT University, Melbourne, Australia.</p>
                <p class="text-faded">Previously, I was working as a Data Analyst in two distinct areas: Internet Service Provider and Software Development Institution in Nepal. While working for an ISP, my work centred on identifying potential opportunities to enhance customer experience through a mobile application that could resolve their internet-related issues in minimum time. In the latter, my role involved examining the behaviours of customers through social media and website traffic and recommend relevant content and advertisements according to their similarities and interest.
 </p>
                <p class="text-faded">Technologies: Python | R | SQL | Git | Tableau </p>
                <a href="https://www.linkedin.com/in/nischaythapa" target=_blank class="btn btn-default btn-xl">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
