<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <!--<h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">-->
                <p style="padding-left:12pt;font-style:italic;">“Out of 66 clinical candidates, published by the Journal of Medicinal Chemistry in the 2016–2017 period, none originated as a virtual screening hit. It is a fact that predicting binding affinities is terribly difficult, and one of the main compounding factors is the solvent’s effect.”</p>
<p style="padding-left:12pt;font-size:8pt">- Defelipe et al., Solvents to Fragments to Drugs: MD Applications in Drug Design,  Molecules 2018, 23, 3269
</p>
                <hr>
                <p class="text-faded">HTuO Biosciences was founded in Vancouver, Canada in September 2020, based on a novel molecular model designed to significantly improve the accuracy of inter-molecular predictions.  Our goal is to disrupt the pharmaceutical industry by changing the way small molecules are designed and optimized.
                <br><br>Our name, HTuO, was inspired by water.  Despite being one of the simplest molecules, water also displays some of the most complex behaviours - making it a touch point in molecular modeling.  We know that water plays an important role in binding, and we believe that building better models starts with understanding water.
                <br><br>As we work to build better models, our vision doesn't end with water.  Our goal is make it possible to work with difficult targets, where water can't be ignored - and where molecular modeling has traditionally underwhelmed.
                </p>
            </div>
        </div>
    </div>
</section>
