<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Behind the Research is an initiative lead by Kat Phillips and supported by SAMBa and Public Engagement Unit at the University of Bath. It is a collaboration of PhD students showcasing the real-life, day to day aspects of research at all stages, and uses a variety of platforms and mediums to (hopefully) de-mystify academia.
                        Though there is a focus on delivering interesting and entertaining content, this scheme also focuses on providing training and outreach opportunities to the PhD students in the maths deparment at the University of Bath. Through content creation, we aim to support PhD students in developing their own skills. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022-</h4>
                                    <h4 class="subheading">Twitch Streams</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These monthly livestreams where the team sit down with academics to get to know the real people working in academia.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jul '22</h4>
                                    <h4 class="subheading">PhDay in the Life</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A collection of vlogs documenting the key points of the SAMBa PhD Experience</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2022</h4>
                                    <h4 class="subheading">12 Days of Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A series of 12 mini reels that culminated in a parody of the 12 days of Christmas - in collaboration with the Uni of Bath Maths Department Choir.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Apr '23</h4>
                                    <h4 class="subheading">BAMC Stories</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Through photos and short videos, Beth documented her experience attending the British Applied Maths Colloquium</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Can't wait
                                    <br>to see
                                    <br>what's next!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>