  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Join the Discord Community for Tipbot Access!</h2>
              <p>Everything happens over in the QRL chat. All tips and faucet payouts are affiliated with a Discord user, no bot funcitons are available here.</p>
              <a href="{{site.discord-link}}" class="btn btn-default btn-xl wow tada"> <span ><i class="fab fa-discord fa-2x" ></i></span>  Discord</a>
          </div>
      </div>
  </aside>
