
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">something here 1</h2>
                <hr class="primary">
            </div>



                <a href="#" class="portfolio-box">
                    <img src="img/InkedShoe_image_cropped.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               
                            </div>
                            <div class="project-name">
                                Shoe Concept Design
                            </div>
                        </div>
                    </div>
                </a>


     </div>
  </div>


