  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Final Project Timeline</h2>
                <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                  <div style="text-align: center;">
                     <img src="img/Project-Timeline.png" class="img-responsive" alt="">
                       <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                Project Timeline
                            </div>
                        </div>
                       </div>
                  </div>
                </a>
                </div>
          </div>
      </div>
  </aside>
