<section id="booking">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">{{ site.t.sections.booking.title[page.lang] }}</h2>
            <hr class="primary">
            <div class="row justify-content-center">
            	<p class="primary col-8">{{ site.t.sections.booking.subtitle[page.lang] }}</p>
        	</div>
        </div>
        <hr class="primary">
        <div class="text-center">
            <h5>Coming soon via our partners</h5>
            <div class="row">
            	<div class="col-partner col-sm"><img class="img-lazy img-responsive" data-src="/img/partners/airbnb.png" alt=""></div>
            	<div class="col-partner col-sm"><img class="img-lazy img-responsive" data-src="/img/partners/booking.com.png" alt=""></div>
            	<div class="col-partner col-sm"><img class="img-lazy img-responsive" data-src="/img/partners/homeaway.png" alt=""></div>
        	</div>
        </div>
    </div>
</section>
