<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reimagining How We Travel Tomorrow</h2>
                <hr class="light">
                <p class="text-faded">The purpose of Friendzcation is to allow an individual to conveniently join a pre-existing event arranged by someone else. These events can either be public or private. In joining a pre-existing event this allows users to: meet new people, save time planning trips and can reduce the cost of trips as more people join and share travel expenses. Friendzcation has the ability to expand socialization amongst like-minded travelers who share similar interests and the desire to travel, thus building a community that embodies altruism. The concept of a ‘Sharing economy’ has promised a more sustainable use of the world’s finite resources.</p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
 -->            </div>
        </div>
    </div>
</section>
