<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Spreading the worlds most secure currency and store of value!</h2>
                <hr class="light">
                <p class="text-faded">The tipbot was created to enable the community the ability to send quantum resistant quanta to other users. Along the way during development a faucet found it's way into the project.</p>
                <p>All tips are sent on-chain to users individual wallet addresses. Users have full access to their tipbot private keys allowing transparency and control of funds. Your keys, your quantum secure crypto!</p>
                
            </div>
        </div>
    </div>
</section>
