<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">İhtiyacın olan bizde var!</h2>
                <hr class="light">
                <p>Start Bootstrap, yeni web sitenizi kısa sürede çalışır duruma getirmek için ihtiyacınız olan her şeye sahiptir! Start Bootstrap'taki tüm şablonlar ve temalar açık kaynaklıdır, indirmesi ücretsizdir ve kullanımı kolaydır. Koşulsuz!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
