<header style="background-image:url('{{site.baseurl}}/img/vancouver-754200.jpg');
              height: 60%;">
    <div class="header-content" style="bottom:10%">
        <div class="header-content-inner">
            <h1 style="color:white;">Career</h1>
        </div>
    </div>
</header>

<section id="career-home">
    <div class="container">
        <div class="row">
           <div class="col-lg-10 col-lg-offset-1 text-gray">


           {{ content }}


           </div>
        </div>
    </div>
</section>
