<section class="bg-primary" id="Collaborate">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-left">

        <h2 class="section-heading text-center" style="color:white;">Collaborate</h2>
        <hr class="primary">


        <p style="font-size:150%;">Introducing high accuracy into modeling gives us and our partners the ability to address the challenges of drug design head-on.  A more detailed understanding of how molecules interact allows for data-driven predictions of the best possible drug design -  ultimately leading to fewer drugs failing and more efficacious drugs.
        </p>

        <div class="text-center">
            <a href="#contact" class="btn btn-default btn-xl word-light">
                Collaborate with Us
            </a>
        </div>

      </div>
    </div>
  </div>
</section>
