<section class="bg-theme-primary" id="contact">
	<div class="container text-center">
		<div class="row">
			<!-- Description Text -->
			<div class="col">
				<h2 class="section-heading">{{ site.t.sections.contact.title[page.lang] }}</h2>
				<hr class="light">
				<p>{{ site.t.sections.contact.subtitle[page.lang] }}</p>
			</div>
			<!-- New line -->
			<div class="w-100"></div>
			<!-- Call-to-actions -->
			<div class="col-lg-3 offset-lg-3 contact-col-element">
				<a href="tel:{{ site.phone_number }}" class="btn btn-secondary-action btn-sm">
					<i class="fa fa-phone"></i>
					{{ site.phone_display }}
				</a>
			</div>
			<div class="col-lg-3 offset-lg-0 contact-col-element">
				<a href="mailto:{{ site.email }}" class="btn btn-secondary-action btn-sm" id="email-no-uppercase">
					<i class="fa fa-envelope"></i>
					{{ site.email }}
				</a>
			</div>
		</div>
    </div>
</section>
