<section id="contact" class="bg-two-row" style="color:white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center two-row"> 

        <h2 style="color:white;">Career</h2>
        <hr class="word-dark">
        <p style="padding:0 20px 0;max-width:500px;display:inline-block;">We are rapidly growing and looking for bold and creative people to join our team. </p>

        <div class="text-center">
          <a href="{{ site.baseurl }}/career.html" class="btn btn-default btn-xl word-primary">
            Explore Positions
          </a>
        </div>

      </div>
      
      <div class="col-lg-6 text-center two-row">

        <h2 style="color:white;">Let's Connect!</h2>
        <hr>
        <p style="padding:0 20px 0;max-width:500px;display:inline-block;">
          We are literary a "basement startup" and welcome to any comments or thoughts about investment and collaboration. 
        </p>
        
        <div class="text-center" style="word-spacing: 5em;">
          <a href="https://www.linkedin.com/company/{{ site.linkedin }}">
            <i class="fa fa-linkedin fa-3x"></i>
          </a>       
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x"></i>
          </a>
      </div>    
    </div>
  </div>
</section>
