<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Follow our progress!</h2>
                <hr class="primary">
                <p>E-Trivium is passionate about creating a smart fashion solution, and we're excited to share our project journey with the world. Thank you for your interest!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://github.com/RolandoQuintana/E-Trivium-Capstone/blob/main/meeting_log.md">
                <i class="fa fa-calendar fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p style="font-size: 12px; text-align: center; margin-top: 10px;">Meeting Logs</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.overleaf.com/read/rbpjqwpmymbb">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p style="font-size: 12px; text-align: center; margin-top: 10px;">Project Doc</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/RolandoQuintana/E-Trivium-Capstone/blob/main/team-member-assignments.md">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x wow bounceIn" data-wow-delay=".1s"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            fa-flag on fa-circle<be> 
            <!--<i class="fa fa-square fa-stack-2x wow bounceIn" data-wow-delay=".1s"></i>-->
                <p style="font-size: 12px; text-align: center; margin-top: 10px;">Member Assignments</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://github.com/RolandoQuintana/E-Trivium-Capstone/">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p style="font-size: 12px; text-align: center; margin-top: 10px;">Project Repo</p>
            </a>
        </div>

    </div>
</section>
