<style>
  table {
    width: 50%; 
    margin: 0 auto; 
  }
  th, td {
    padding: 3px; 
    text-align: left; 
  }
  
  td:last-child {
    text-align: right; 
  }
  
  th:last-child {
    text-align: right; 
  }
  
  
  a {
    color: #321899; 
    text-decoration: none; 
  }
  a:hover {
    color: purple; 
  }
  
</style>


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Datasheets</h2>
                <hr class="light"> 
            </div>
        </div>
        
        
<table>
  <tr>
    <th>Part Name</th>
    <th>Datasheet</th>
  </tr>
  <tr>
    <td>Arduino Nano 33</td>
    <td><a href="https://docs.arduino.cc/resources/datasheets/ABX00027-datasheet.pdf">Download</a></td>
  </tr>
  <tr>
    <td>TT Motor All-Metal Gearbox</td>
    <td><a href="https://www.handsontec.com/dataspecs/motor_fan/TT%20Gear%20Motor%20All%20Metal.pdf">Download</a></td>
  </tr>
  <tr>
    <td>DRV8871 DC Motor Driver</td>
    <td><a href="https://cdn-shop.adafruit.com/product-files/3190/drv8871.pdf">Download</a></td>
  </tr>
  <tr>
    <td>TTP223 Capacitive Touch Switch</td>
    <td><a href="https://datasheet.lcsc.com/szlcsc/TTP223-BA6_C80757.pdf">Download</a></td>
  </tr>
  <tr>
    <td>Force Sensitive Resistor</td>
    <td><a href="https://cdn-learn.adafruit.com/downloads/pdf/force-sensitive-resistor-fsr.pdf">Download</a></td>
  </tr>
  <tr>
    <td>U-Groove Bearing</td>
    <td><a href="https://www.amazon.com/gp/product/B08F2K2FN1/ref=sw_img_1?smid=A1RXNZT4AK0KHN&psc=1">Download</a></td>
  </tr>
</table>
        
        
    </div>
</section>
