<section id="demo-day">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Demo Day</h2>
                <hr class="primary">
            </div>    
  

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-HomePage1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Clothing Home Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-HomePage2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Wardrobe Home Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-LightLeaf-Pattern.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Light Leaf Pattern 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-HealthLeaf-Pedometer.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Health Leaf Pedometer 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-AddSOSContact.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Add SOS Contact
                            </div>
                        </div>
                    </div>
                </a>
            </div>

              <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/E-Trivium-App-WardrobeHeight.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                E-Trivium App Wardrobe Height
                            </div>
                        </div>
                    </div>
                </a>
            </div>

              <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/demo-table.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                Demo day table
                            </div>
                        </div>
                    </div>
                </a>
            </div>

              <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/demo_wardrobe.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                Demo day wardrobe
                            </div>
                        </div>
                    </div>
                </a>
            </div>

              <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/shoes_demo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              
                            </div>
                            <div class="project-name">
                                Demo day shoes
                            </div>
                        </div>
                    </div>
                </a>
            </div>


              <div class="col-lg-4 col-sm-6">
<!--                 <a href="#" class="portfolio-box"> -->
                    <video width="640" height="360" controls src="img/demo.mp4" type="video/mp4">error</video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
<!--                             <div class="project-name">
                                 Wardrobe and clothing demo
                            </div> -->
                        </div>
                    </div>
<!--                 </a> -->
            </div>
  
            <div class="col-lg-4 col-sm-6">
<!--                 <a href="#" class="portfolio-box"> -->
                    <video width="640" height="360" controls src="img/shoes_demo_vid.mp4" type="video/mp4">error</video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
<!--                             <div class="project-name">
                                 Shoes demo
                            </div> -->
                        </div>
                    </div>
<!--                 </a> -->
            </div>
            
       </div>
    </div>
</section>
