<section id="differentiation">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-left">

                <h2 class="section-heading text-center">Differentiation</h2>
                <hr class="primary">

                <div class="text-left">
                <p style="font-size:clamp(16px, 1.5vmax, 24px);">Within the HTuO system <strong>the force field is polarizable.</strong> As atoms are added to each other to build out
                    the molecule the charges are automatically calculated.
                    Our force field adapts to its surroundings as it does in nature.
                </p>

                <p style="font-size:clamp(16px, 1.5vmax, 24px);">By correctly simulating the breaking of bonds the <strong> HTuO technology generates a reactive force field</strong>
                    that has the potential to replicate pH at the binding sites. This is important when modeling water
                    molecules and movement of protons at the binding site.
                </p>

                <p style="font-size:clamp(16px, 1.5vmax, 24px);"><strong>HTuO’s system inherently captures emergent properties</strong> such as hydrophobicity which allows for more
                    accurate calculation of drug solubility.
                </p>
                </div>
                <div class="text-center">
                    <a href="{{ site.baseurl }}/validation.html" class="btn btn-primary btn-xl">
                        Validation of our Technology
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
