<section id="essays">
    <div class="bg-primary">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ESSAYS</h2>
                <hr class="light">
                <p class="text-faded"><a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a>
                <p class="text-faded"><a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a>
                <p class="text-faded"><a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a>     
                </p>
            </div>
        </div>
    </div>
</section>