<section class="bg-primary" id="essays">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ESSAYS</h2>
                <hr class="light">
                <p>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>   
                </p>
            </div>
        </div>
    </div>
</section>