<section class="bg-primary" id="exploratory">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Exploring</h2>
                <hr class="accent">
                <p>
                    all the things!
                </br>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>
                    <a href="https://www.medium.com/jerryhansana" target="_blank">Title Link</a></br>   
                </p>
            </div>
        </div>
    </div>
</section>