<aside class="bg-dark" id="fall-progress">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fall Progres</h2>
                <hr class="primary">
            </div>
            
          <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/SingleLEDLeaf.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                Single LED Prototype
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/LED-change.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Change LED Color Using Our App
                            </div>
                        </div>
                    </div>
                </a>
            </div>

<!--              -->
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <video width="640" height="360" controls src="img/led_strip.mp4" type="video/mp4">error</video>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 First test of LED strip working
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/open_closure.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Open enclosure showing components
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wardrobe2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Wardrobe frame
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wardrobe3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Wardrobe frame from the side
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/Bottom_of_shoe.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 The bottom of the shoes showing components
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                                          
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wardrobe.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Complete wardrobe
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/Etrivium_Logo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Etrivium Logo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/Capstone_Project_Poster.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                 Capstone Project Poster
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        

<!--              -->
        </div>
    </div>
</aside>

