<!DOCTYPE html>
  <footer>
    <div class="container">
      <div class="row footer-nav">
        <div class="col-md-3 logo">
          <a class="brand" href="index.html">
            {%- if site.logo -%} 
            {%- else -%} {{ site.title }} {%- endif -%}
          </a>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4 break">
              <h6><a href="research.html">Our Research</a></h6>
              <h6><a href="technology.html">Our Technology</a></h6>
              <h6><a href="partnership.html">Partnerships</a></h6>
            </div>
            <div class="col-md-4 break">
              <h6><a href="about.html">About Us</a></h6>
              <h6><a href="careers.html">Careers</a></h6>
            </div>
            <div class="col-md-4 break end">
              <h6><a href="news.html">News & Events</a></h6>
              <h6><a href="contact.html">Contact Us</a></h6>
              <h6><a href="faq.html">FAQ</a></h6>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <ul class="social">
            <li>
              <a href="https://mobile.twitter.com/htuobiosciences" class="tw" target="_blank">
                <!-- <img src="img/icon-twitter.svg" alt="Icon Twitter"/> -->
              </a>
              <a href="https://ca.linkedin.com/company/htuobio" class="li" target="_blank">
                <!-- <img src="img/icon-linkedin.svg" alt="Icon LinkedIn"/> -->
              </a>
            </li>
            <li>
              <p>400-610 Main St Vancouver, BC, Canada</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 copyright text-md-left text-sm-center">
          <p class="copy">©Copyright 2023 HTuO Biosciences Inc.</p>
        </div>
        <div class="col-md-6 terms text-md-right text-sm-center">
          <p><a href="privacy.html">Privacy Policy</a><span>|</span><a href="terms.html">Terms & Conditions</a></p>
        </div>
      </div>
    </div>
  </footer>
</html>