<section id="fusion-designs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fusion Designs</h2>
                <hr class="primary">
            </div>
            
          
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/FusionWardrobe.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                Wardrobe Fusion Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/FusionLEDLeaf.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                LED Leaf Fusion Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
       </div>
    </div>
</section>
