<section class="no-padding bg-dark" id="gallery">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for image in site.images limit:6 %}
            <div class="col-lg-4 col-sm-6 gallery-box">
                <a href="javascript:void(0)" id="{{ forloop.index }}" class="portfolio-box" onclick="openSlideshow(this.id)">
                    <img data-src="/img/gallery/thumb/{{ image.image }}" class="img-lazy img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.t.sections.gallery[forloop.index].title[page.lang] }}
                            </div>
                            <div class="project-name">
                                {{ site.t.sections.gallery[forloop.index].caption[page.lang] }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
