<section class="no-padding bg-theme-primary" id="gallery">
    <div class="gallery-wrapper">
        <!-- Default 6 images gallery -->
        <div class="row no-gutter gallery-container">
            {% for index in (1..site.t.sections.gallery.thumbnails.size) %}
            {% assign thumbnail = site.t.sections.gallery.thumbnails[index] %}
            <div class="col-6 col-md-4">
                <a href="javascript:void(0)" id="{{ index }}" class="portfolio-box" onclick="openSlideshow(this.id)">
                    <img data-src="/img/gallery/thumb/{{ thumbnail.image }}" class="img-lazy img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ thumbnail.title[page.lang] }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Open Gallery Button -->
        <a href="javascript:void(0)" onclick="openSlideshow()" class="btn btn-secondary-action btn-sm open-gallery-action">
            <i class="far fa-images"></i>
            {{ site.t.sections.gallery.slideshow[page.lang] }}
        </a>
    </div>
</section>
