<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p>1. Our lives are dynamic collections of abstractions, flowing through consciousness, materialising into our subjective reality.
            </br>

            2. Electricity flows through through computers just as it flows thorough our minds. Signals turn into encoded into memory.
            </br>
            
            3. One of the most complexities of life is unlocking the enigma of the mind.
            
            </br>
            4. Emergent abstractions ebb & flow within the realm of our mind, materialising into thoughts and emotions; personified into our distinct subjective realities. 

            </br>
            There is a vast library Abstractions 
            
            Jerry Hansana
            </p>
        </div>
    </div>
</header>
    