<header style="background-image:url('{{site.baseurl}}/img/vancouver-754200.jpg');
              height: 60%;">
  <div class="header-content" style="bottom:10%">
    <div class="header-content-inner">
      <h1 style="color:white;">Career</h1>
    </div>
  </div>

  <div class="header-credit">
    <a style="color:#dddddd;" href="https://pixabay.com/users/proonsite-991260/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=754200">
      image@proonsite
    </a>    
  </div>  
</header>

<section id="header-career">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-gray">

        {{ content }}

        <hr style="margin-left:0;">

        <a style="text-transform:lowercase;" href="{{ site.baseurl }}/career.html" class="btn btn-primary btn-xl">
           View other positions
         </a>

      </div>
    </div>
  </div>
</section>
