<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p>
            <h1>Your mind is the most beautiful thing about you; it is you.</h1>            
            </br>
            <h3>All of the unique memories you've created together: every dream, aspiration, joy, sorrow, apprehension, laugh, love and euphoria. Remember this, for times where you feel you are not enough; your team of 86 BILLION NEURONS residing inside your brain are here to remind you that it's just a bad day. There are many more experiences and memories to create together. </h3>
            </p>
        </div>
    </div>
</header>

    