<header style="background-image:url('{{site.baseurl}}/img/drop-of-water-545377.jpg');
              height: 60%;">
  <div class="header-content" style="bottom:10%">
    <div class="header-content-inner">
      <h1 style="color:white;">Timeline</h1>
    </div>
  </div>

  <div class="header-credit">
    <a style="color:#dddddd;" href="https://pixabay.com/users/roegger-607528/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=545377">image@roegger</a>
  </div>

</header>

<section id="header-news">
  <div class="container">
    <div class="row">
     <div class="text-gray">

       {{ content }}

      </div>
    </div>
  </div>
</section>