<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hello! Welcome to my website</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt amet explicabo dolorum. Sequi optio id repudiandae provident? Saepe repudiandae voluptatem ad eaque reiciendis debitis autem, id enim nisi tempore quam.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
