<body>
   <div class="col-lg-8 col-lg-offset-2">
      <p style="font-family: Georgia">
        <md-block>
          ## Troubleshooting
            Davinci uses your camera’s settings to convert the raw footage. If you see no changes in your footage, the program may have not correctly identified your camera, or you may not be using raw footage. Let's check for this.
            1. Click the Camera Raw tab on the very left.
            2. If the camera data it notes does not reflect your camera’s settings, right-click on the icon of the footage you wish to change. Select Input Color Space, and find your camera in the menu. 
            3. Repeat this process for each clip you would like to change.
       </md-block>
      </p>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
   </div>
</body>
