<body>
    <div class="col-lg-8 col-lg-offset-2">
      <p style="font-family: Georgia">
        <md-block>
# Knowledge Base Entry: DaVinci Resolve Color Management
Editing raw footage is time-consuming, so Davinci Resolve offers a custom color management system built into the platform for your convenience. This article will guide you through a first-time use of this function.
## Applying Color Management
1. After uploading your footage, select the Color tab at the bottom of the screen, indicated by the color wheel symbol.
2. Then, go to the bottom right of the screen and open Project Settings, indicated by the gear symbol.
3. In the Settings pop-up window, select Color Management:
4. Under Color Space & Transforms, open the drop-down menu for Color Science and select DaVinci YRGB Color Managed. 
5. Select your device’s display output color space. Rec. 709 is the standard output for high-definition television, and a common choice.
6. Then, click Save.
You should immediately see the changes made by this powerful tool. Resolve has automatically identified your camera’s settings and adjusted your raw footage to reflect your monitor’s display. This balances the footage, and gives you a good foundation for color grading.
            [!NOTE] 
            All of your footage should automatically adjust, even if some are from different cameras.
## Troubleshooting
Davinci uses your camera’s settings to convert the raw footage. If you see no changes in your footage, the program may have not correctly identified your camera, or you may not be using raw footage. Let's check for this.
1. Click the Camera Raw tab on the very left.
2. If the camera data it notes does not reflect your camera’s settings, right-click on the icon of the footage you wish to change. Select Input Color Space, and find your camera in the menu. 
3. Repeat this process for each clip you would like to change. 
        </md-block>
      </p>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
   </div>
</body>
