<section class="bg-dark" id="map">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm">
				<div class="maps-info">
					<h2 class="section-heading">{{ site.t.sections.map.title[page.lang] }}</h2>
					<hr class="primary">
					<p class="primary">{{ site.t.sections.map.subtitle[page.lang] }}</p>
				</div>
			</div>
			<div class="col-sm google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11536.49618441327!2d-1.4330537559487937!3d43.707971115909885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5159592a42b957%3A0xa066519d2f35a30!2sLe%20Penon%2C%2040510%20Seignosse%2C%20France!5e0!3m2!1sen!2sde!4v1584805099375!5m2!1sen!2sde" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"> </iframe>
			</div>
		</div>
	</div>
</section>
