<div style="font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px;">

    <h2 style="color: white; padding: 10px; background-color: #F05F40; display: inline-block;">Detailed Schedule - Project Milestones and Testing <span style="background-color: transparent;">Strategy</span></h2>
    
    <h2 style="color: #F05F40;">By the end of September</h2>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish app functionality (Saoud, Jessika)</strong><br>
    To test the app's functionality, we will connect the app to the Arduino via BLE and test all our app features to make sure that everything works as expected.</p>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish smart clothing first working prototype (Rolando)</strong><br>
    Our first working prototype will not have all the features; it will probably only include the LED leaf. To test it, we will use our app to change the LED color (make sure nothing explodes or burns).</p>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish smart shoes (Hyrum)</strong><br>
    To test our smart shoes, we will ensure that it automatically self-ties when it detects someone wearing the shoes.</p>
    <h2 style="color: #F05F40;">By the end of October</h2>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish the base build for our smart wardrobe (Rolando, Hyrum, Saoud - if needed)</strong><br>
    To test the wardrobe, we will make sure it's solid enough for moving and safe to use.</p>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Get feedback on our first smart clothing design and refine accordingly (everyone)</strong><br>
    We will test our refined design similarly to our first prototype, adding all other leaves, and ensuring the app can control all leaves.</p>
    <h2 style="color: #F05F40;">By the end of November</h2>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish smart wardrobe with all features (everyone)</strong><br>
    We will test our wardrobe by ensuring it's safe to use, can charge, and store leaves easily.</p>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Finish smart clothing final design (everyone)</strong><br>
    We will test our final design to ensure all parts' placements are final and all leaves are easily swappable.</p>
    <h2 style="color: #F05F40;">December</h2>
    <p style="margin: 5px 0; padding: 5px 0;"><strong>Prepare for the final demo (everyone)</strong></p>
</div>
