<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% link index.html %}#page-top">
              {%- if site.logo -%}
              <img 
                style="max-height:100%;height:auto"
                src="{{ site.baseurl }}/{{ site.logo.path }}" 
              />
              {%- else -%} {{ site.baseurl }}/{{ site.title }} {%- endif -%}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{% link index.html %}#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% link index.html %}#trailblazing">
                       Trail Blazing</a>
                </li>
                <li>
                   <a class="page-scroll" href="{% link index.html %}#news">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% link index.html %}#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% link index.html %}#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
