<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ site.home_menu_text }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if site.data.menu %}
                    {% for item in site.data.menu %}
                        <li>
                            <a class="page-scroll" href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for page_block in page.blocks %}
                        {% for block in site.blocks %}
                            {% if block.name == page_block %}
                                {% unless block.menu_exclude %}
                                    <li>
                                        <a class="page-scroll" href="#{{ block.name }}">
                                            {% if block.menu_txt %}
                                                {{ menu_txt }}
                                            {% else %}
                                                {{ block.name }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
