<nav class="navbar navbar-expand-lg navbar-light fixed-top reduced-padding" id="mainNav" data-toggle="affix">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<a class="navbar-brand js-scroll-trigger" href="#page-top">{{ site.title }}</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="
 nav barResponsive" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto my-2">
				<li class="nav-item">
					<a class="nav-link page-scroll js-scroll-trigger" href="#activities">{{ site.t.nav.activities[page.lang] }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll js-scroll-trigger" href="#about">{{ site.t.nav.about[page.lang] }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll js-scroll-trigger" href="#services">{{ site.t.nav.services[page.lang] }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll js-scroll-trigger" href="#gallery">{{ site.t.nav.gallery[page.lang] }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll js-scroll-trigger" href="#contact">{{ site.t.nav.contact[page.lang] }}</a>
				</li>
				<select font-size="large" id="redirectSelect">
					{% for config in site.languages %}
						<option lang="{{ config.lang }}" value="{{ config.link }}" {% if config.lang == page.lang %}selected{% endif %}>{{ config.text }}</option>
					{% endfor %}
				</select>
			</ul>
		</div>
	</div>
</nav>
