<section id="news" class="bg-gray50">
  <div class="container">
    <div class="row">

      <div class="col-lg-6"> 

        <h2 class="text-center">Upcoming Events</h2>
        <hr>
        {% for event in site.data.events.events reversed %}           
          <h2 style="font-weight:700;">{{ event.date | markdownify }}</h2>
          <div style="margin-left:20px;">{{ event.text | markdownify }}</div>
        {% endfor %} 

      </div>
      
      <div class="col-lg-6">

        <h2 class="text-center">Latest News</h2>
        <hr>
        {% for event in site.data.news.events%}
          {%- assign total = forloop.index -%}       
        {% endfor %}
        {%- assign x = total | minus: 2 -%} 

        {% for event in site.data.news.events reversed offset: x %}           
          <H2 style="font-weight:700;">{{ event.date | markdownify }}</h2>
          <div style="margin-left:20px;">{{ event.text | markdownify }}</div>
        {% endfor %} 
        <div class="text-center">
          <a href="{{ site.baseurl }}/timeline.html" class="btn btn-primary btn-xl wow tada">
            Check Full HTuO Timeline
          </a>
        </div>

      </div>

    </div>
  </div>
</section>
