<section class="bg-primary" id="parallax1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-primary">
                    xxx
                    Quisque tincidunt ut metus eget porttitor. Suspendisse sit amet posuere erat, nec dapibus lorem. Vestibulum non arcu et ligula viverra scelerisque sit amet sit amet nisi. Aliquam eget luctus nisi. Vivamus vitae enim aliquet, rhoncus ligula faucibus, ornare diam. Pellentesque in lacinia urna, in pulvinar quam. Fusce dolor velit, sollicitudin ac dictum sit amet, euismod auctor diam. Nullam vel pharetra neque. Nulla facilisi. Donec varius dui tincidunt mauris mattis lacinia. In elementum est ut fermentum volutpat. Proin quis erat interdum, viverra sem in, fringilla metus. Praesent consequat nisi sed purus tempor, eget pulvinar nisi ornare.
                </p>
            </div>
        </div>
    </div>
</section>
