<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="https://twitch.tv/BehindTheResearch" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Livestreams
                            </div>
                            <div class="project-name">
                                Check out our monthly streams on twitch, where we discuss academic life, research experience, and chat with academics from across the department. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Videos
                            </div>
                            <div class="project-name">
                                Our video collection consists of past streams, and video documentaries of different aspects of PhD life. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://linktr.ee/behindtheresearch" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Media
                            </div>
                            <div class="project-name">
                                You can also find us on most social media platforms.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Resources
                            </div>
                            <div class="project-name">
                                A few resources and sites that we think could be of interest! 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
