<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1
                  text-left">

                <h2 class="section-heading text-center">Identifying Optimal Drug Candidates</h2>
                <hr class="primary">
                <div class="text-left">
                <p style="font-size:2vmax;">Drug development is time consuming, resource intensive and fails 90% of the time.
                </p>

                <p style="font-size:2vmax;">A more predictive lead optimization process can lower the failure rate by improving effectiveness,
                    lowering toxicity and increasing the absorption of drugs.
                </p>
                <p style="font-size:2vmax;">HTuO’s proprietary physics-based molecular modeling solution with a novel force field allows for a
                    very accurate study of drug interactions.
                </p>
                <p style="font-size:2vmax;">HTuO will reduce the time and resources required to develop drugs by improving the lead optimization
                    process.
                </p>
                </div>
                <div class="text-center">
                    <a href="{{ site.baseurl }}/target-market.html" class="btn btn-primary btn-xl">
                        Why are we focussed on Drug Optimization
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
