<!-- 
<style>
/*     .timeline {
      display: flex;
      justify-content: center;
      align-items: center;
    } */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}
/*     #timeline {
      width: 500px; 
      height: auto; 
    } */
</style>

<div class="timeline">
<project-timeline class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Timeline</h2>
                <hr class="primary">
            </div>
         </div>
          <img id=timeline src="img/Project-Timeline3.png" alt="">
    </div>

</project-timeline>
</div> -->



<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
  height: auto; 
}
</style>

<section id="project-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Timeline</h2>
                <hr class="primary">
            </div>

              <img id=timeline src="img/Project-Timeline3.png" alt="">
            
<!--             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img id=timeline src="img/Project-Timeline3.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">  
                            </div>
                            <div class="project-name">
                                Full Project Timeline
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            
       </div>
    </div>
</section>
