<style>
  <style>
    .timeline {
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Make the container take up the full viewport height */
    }

    #timeline {
      width: 500px; /* set your desired width */
      height: auto; /* maintain aspect ratio */
    }
  </style>

<div class="timeline">
<project-timeline class="bg-dark" id="project-timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Timeline</h2>
                <hr class="primary">
            </div>
         </div>
            
                <a href="#" class="portfolio-box">
                    <img id=timeline src="img/Project-Timeline2.png" alt="">
                            <div class="project-name">
                                Final Project Timeline 2
                            </div>
                </a>
    </div>
 </div>
</project-timeline>
