<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="https://unpkg.com/wowjs@1.1.3/dist/wow.js"></script>
<script src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>

<!-- Custom Website JavaScript -->
<script src="/js/custom/redirectSelect.js"></script>
<script src="/js/custom/slideshow.js"></script>

<script type="text/javascript">
	var lazyLoadInstance = new LazyLoad({
		elements_selector: ".img-lazy"
	});
</script>