<!-- Plugin JavaScript -->
<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://unpkg.com/fittextjs@1.2.0/index.js"></script>
<script src="https://unpkg.com/wowjs@1.1.3/dist/wow.js"></script>
<script src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js"></script>

<!-- Bootstrap Core -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Custom Website JavaScript -->
<script src="/js/custom/redirectSelect.js"></script>
<script src="/js/custom/slideshow.js"></script>
<script src="/js/custom/creative.js"></script>