<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet Our Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/HB_Img.png" class="img-responsive" alt="">
                    <h3>HYRUM BAILEY</h3>
                    <p class="text-muted">you can edit this part from _includes/services.html</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/Jessika_Jimenez_Pic.jpg" class="img-responsive" alt="">
                    <h3>JESSIKA JIMENEZ</h3>
                    <p class="text-muted">B.S. Computer Engineering student at the University of Utah. FPGA Engineering Intern at Idaho National Laboratory. Likes video games and making art.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/invisible_image.jpg" class="img-responsive" alt="">
                    <h3>ROLANDO QUINTANA</h3>
                    <p class="text-muted">you can edit this part from _includes/services.html</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/invisible_image.jpg" class="img-responsive" alt="">
                    <h3>SAOUD ALDOWAISH</h3>
                    <p class="text-muted">you can edit this part from _includes/services.html</p>
                </div>
            </div>
        </div>
    </div>
</section>
