<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.t.sections.services.title[page.lang] }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% assign services=site.services | where:"lang", page.lang %}
            {% for service in services %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x {{ service.icon }} wow bounceIn icon-theme-primary"></i>
                    <h3>{{ service.title }}</h3>
                    <p class="text-muted">{{ service.text }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
