<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.ui-text[site.locale].services_heading | default: "At your service" }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if site.data.services == 2 %}
                {% assign cols = 6 %}
            {% else %}
                {% assign cols = 3 %}
            {% endif %}
            {% for service in site.data.services %}
            <div class="col-lg-{{ cols }} col-md-6 text-center">
                <div class="service-box">
                    <i class="{{ service.icon }} wow bounceIn text-primary" data-wow-delay="{{ service.delay | default .0s }}"></i>
                    <h3><a href="{{ service.url | relative_url }}">{{ service.name }}</a></h3>
                    <p class="text-muted">{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
