<section class="no-padding">
	<div class="overlay" id="overlay">
		<!-- Overlay Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" data-toggle="affix">
			<div class="container">
				<a class="navbar-brand page-scroll" href="#page-top" onclick="closeSlideshow()">{{ site.title }}</a>
				<ul class="navbar-nav">
					<li>
						<a href="javascript:void(0)" class="closebtn" onclick="closeSlideshow()">&times;</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Carousel -->
		<div class="carousel">
			{% assign images=site.images | where:"lang", page.lang %}
			{% for image in images %}
				<div class="carousel-cell">
					<img data-src="/img/gallery/{{ image.image }}" class="carousel-cell-image" alt="">
				</div>
			{% endfor %}
		</div>
	</div>
</div>