<section class="bg-primary" id="solution">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-left">

                <h2 class="section-heading text-center" style="color:white;">It all starts with Physics</h2>
                <hr class="primary">
                <div class="text-left">
                <p style="font-size:2vmax;">By starting with the physics of individual atoms, we have developed a brand new energy equation for
                    molecular systems, which in turn allows us to derive a new and very accurate force field.
                </p>
                <p style="font-size:2vmax;">
                    Applying a more accurate force field to molecular modelling systems will enable HTuO to
                    more precisely predict how drugs interact with their targets.
                </p>
                </div>
                <div class="text-center">
                    <a href="{{ site.baseurl }}/faq.html" class="btn btn-default btn-xl word-light">
                        Why are Force Fields Important
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
