<h1 id="standard-operating-procedure-accepting-dcp-content">Standard Operating Procedure: Accepting DCP Content</h1>
<h2 id="purpose">Purpose</h2>
<p>The purpose of this standard operating procedure is to ensure the correct files for DCP creation are sent to the editing team.</p>
<h2 id="scope">Scope</h2>
<p>This document describes the steps that the Digital Media Technician must take to review a customer’s submission for DCP creation before forwarding the files to the editing team.</p>
<h2 id="responsibility">Responsibility</h2>
<p>It is the responsibility of the Digital Media Technician to ensure that all the below steps are adhered to, and no missing or incorrect files are sent to the editing team.</p>
<h2 id="procedure">Procedure</h2>
<ol>
<li>Download the customer’s submission to a new folder in the Customer Drive. Label the folder with the customer’s first and last name, and the name of the project.</li>
<li>If the customer submitted <strong>Image Sequences</strong>, check that they are either:<ul>
<li>16-bit TIFF</li>
<li>10-bit DPX</li>
</ul>
</li>
<li>If the customer submitted <strong>Quicktime/MXF</strong>, check that they are one of the following:<ul>
<li>ProRes 4444 XQ</li>
<li>ProRes 4444</li>
<li>ProRes 422 HQ</li>
<li>ProRes 422</li>
<li>DNxHR 444</li>
<li>DNxHR HQX</li>
<li>DNxHR HQ</li>
<li>DNxHR SQ</li>
<li>DNxHD</li>
<li>XDCAM-EX</li>
<li>H.265</li>
</ul>
</li>
<li>Check that the customer’s <strong>Audio</strong> files are one of the following:<ul>
<li>AIFF</li>
<li>WAV</li>
<li>BWAV</li>
</ul>
</li>
<li>Open the customer’s submission notes. Under <strong>Color Spaces</strong>, check that they selected
one of the following:<ul>
<li>sRGB</li>
<li>Rec709 2.2 gamma</li>
<li>Rec709 2.35 gamma</li>
<li>Rec709 2.4 gamma</li>
<li>P3 DCI</li>
<li>P3 D65</li>
</ul>
</li>
<li>If the customer is missing audio or video files, if their files are in the incorrect format, or if they have not selected a color space, forward their submission email with a note detailing the missing files to customer service.</li>
<li>If the customer’s submission follows all of the above requirements, forward their submission email to the editing team. Include a link to the customer’s drive folder and a note detailing the audio, video, and color format the customer has provided.<h2 id="related-topics">Related Topics</h2>
What is a Digital Cinema Package? (DCP)<br>SMPTE vs Interop Audio<br>How to upload customer files for editing  </li>
</ol>
