<section class="bg-primary" id="synopsis">
    <div class="container">
        <div class="row">
                <div class="synopsis">
                <p class="text-primary">
                    <img class="img-float-left" src="img/vintage/Adult_male_brain_-_natural_size_Wellcome_L0001030EB.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus iaculis ex eu pulvinar. Suspendisse faucibus ex lorem, at lobortis lectus tincidunt eget. Nam aliquet ipsum lectus, eu pulvinar nulla imperdiet a. Curabitur vulputate nunc at quam tempus interdum. Praesent gravida, metus dictum tincidunt interdum, justo ipsum dapibus neque, in finibus erat magna vel erat.
                    Maecenas dictum eros ut tempus varius. In nisi libero, luctus vel lorem in, posuere faucibus risus. Integer interdum ante sed tellus varius, in posuere massa malesuada. Sed mauris orci, interdum at sem eu, porta vestibulum mi.
                    what is going onin here do i evenlike this floatingthingit confuses me haha idk 
             <br>
            </br>
             <p class="text-primary">
                    Duis vel placerat lectus. Pellentesque id nunc ullamcorper, suscipit libero vitae, feugiat ipsum. Fusce nec accumsan neque. Phwtf asellus ac fringilla mi. Integer ut purus ante. Duis porttitor ipsum augue, ac tempus libero volutpat eu. Phasellus et quam nisl. Aliquam bibendum felis quam, non tempor lacus <img class="img-block" src="img/vintage/Adult_male_brain_-_natural_size_Wellcome_L0001030EB.jpg"> 
                     tempor at. Fusce interdum lorem felis, in ultrices sem tristique et. In mi est, auctor at lacinia eu, iaculis a lorem. Ut euismod mauris eget felis vulputate, ut sollicitudin ligula finibus. Nam non lacus rutrum, scelerisque lacus eu, faucibus elit. Curabitur quis vestibulum justo, ac accumsan augue.
                
             <br><br>
             <p class="text-primary">
                    Morbi dignissim tellus a neque blandit efficitur. Donec pulvinar ligula ante, sodales venenatis lacus dapibus sed. Vestibulum at vulputate augue, nec sodales ante. Duis vitae congue mi. Sed ac faucibus turpis, in mattis libero. <img class="img-float-right" src="img/vintage/Adult_male_brain_-_natural_size_Wellcome_L0001030EB.jpg"> Quisque finibus nec nisl gravida cursus. Ut ornare, metus id tincidunt pulvinar, est metus pellentesque ante, eget lacinia quam ante a dui. Sed consequat tellus suscipit, ultrices turpis eget, laoreet ipsum. Quisque id consequat lacus. Nunc at ligula eu mauris aliquam porta eu vitae dui. Cras vestibulum risus magna, ac dapibus mi cursus sed.
                </p>
            </div>
            </div>
        </div>
</section>
