<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  fa-heart wow bounceIn text-heart"></i>
                    <h3>Beth</h3>
                    <p class="text-muted">Currently completing her MRes phase of study before starting her PhD, which will focus on collective behaviour <br>
                        <a href="https://people.bath.ac.uk/bms58">website</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-heart" data-wow-delay=".1s"></i>
                    <h3>Jenny</h3>
                    <p class="text-muted">First year PhD student looking at radiotherapy modelling. Find Jenny on instagram <a href="https://instagram.com/thejennypowerhour">@thejennypowerhour</a> where she posts maths content and info about PhD life <br>
                        <a href="https://jip30.github.io">website</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-heart" data-wow-delay=".2s"></i>
                    <h3>Kat</h3>
                    <p class="text-muted">Third year PhD student studying fluid dynamics. Livestreaming Maths Communicator and the face, brain, and everything else of KatDoesMaths <br>
                        <a href="https://katdoesmaths.me">website</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-heart" data-wow-delay=".3s"></i>
                    <h3>Seb</h3>
                    <p class="text-muted">First year PhD student looking into using machine learning to solve inverse problems. <br>
                     <a href="https://people.bath.ac.uk/ss2767"> website</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
