<section id="technology">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-gray">
        <h2 class="section-headingr text-center">Technology</h2>
        <hr class="primary">

        <H4>A brand new physics-based approach to molecular modeling.</H4>
        <p>By re-building the physics from the ground up, we have developed a platform technology that is better able to predict the structure and conformation of molecules.
        </p>
        <H4>Running a simulation</H4>
        <p>HTuO’s tools are built with simplicity in mind.  The molecular simulations require minimal setup and configuration, as they utilize no more than 3 atom types per element.  Charge calculations are dynamically calculated throughout the simulation, thus bypassing the lengthy setup required by other simulation engines.
        </p>
        <H4>New mathematical approach</H4>
        <p>Our simulations work just like any other molecular dynamics or energy minimization simulation - we take in the coordinates of the system and run it through the appropriate methods to generate the answer. However, the math we use to calculate the energy of the system is completely different from what is being used in the field today - our mathematics allows for a superior representation of what is happening at the atomic level.
        </p>
        <H4>Core applications</H4>
        <p>Our primary objective is to utilize the technology to develop drug optimization applications. In the long run, our goal is to apply the technology in designing de novo drugs for undruggable targets.  There are also further applications in material sciences and complex biophysics, which are currently outside our scope.
        </p>

      </div>
    </div>
  </div>
</section>
