<section id="trailblazing">
    <div class="container">
        <div class="row">
           <div class="col-lg-10 col-lg-offset-1 text-gray">
                <h2 class="section-headingr text-center">Trail Blazing</h2>
                <hr class="primary">
                <p> Of the nearly half-million proteins in the human body, encoded by twenty-thousand genes in the human genome, only 754 of them have ever been successfully targeted by FDA approved drugs.  </p>
                <p class="text-center"><img src="../img/targets.svg"></p>

                <p> Druggable proteins tend to be those with deep clefts or pockets, into which you can insert a drug - much like a key into a padlock. Thus, typical drugs fill the binding site, excluding water.  "Undruggable" proteins, however, require drugs that bind to the flat surfaces of the protein, and bind despite the presence of water. </p>

                <p class="text-center"><img src="../img/druggable.svg"></p>

                <p>In order to drug the undruggable, you need to be able to understand and predict the forces at work with the high accuracy.  That means understanding the interactions between not just between the drug and the target, but the drug and the solvent to which it is exposed.   The current state of the art does a poor job of simulating these surface interactions - and often employs simplifications such as entirely ignoring the effects of water, or pretending the water is just a simple electric field.  
<br><br>
However, water plays a major part in most biological interactions, and ignoring its effects only works when you can exclude the water, such as in traditional drug binding sites.  If you want to work on new biological mechanisms, you have to look at the whole picture.  Ignoring water isn't going to help us solve the difficult biological problems that stand in the way of developing new medicines and treating difficult to drug diseases.</p>
           </div>
        </div>
    </div>
   
</section>
