<section id="trailblazing">
    <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-centre">Trail Blazing</h2>
                <hr class="primary">
                <p>Of the nearly half-million proteins in the human body, encoded by twenty-thousand genes in the human genome, only 754 of them have ever been successfully targeted by FDA approved drugs.  </p>
           </div>
        </div>
    </div>
   
</section>
