<section id="trailblazing">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-gray">
        <h2 class="section-headingr text-center">Trail Blazing</h2>
        <hr class="primary">
        <p> Of the hundreds of thousands of proteins in the human body, encoded by twenty-thousand genes in the human genome, only 754 of them have ever been successfully targeted by FDA approved drugs.  </p>
        <p class="text-center"><img src="../img/targets.svg"></p>

        <p> Druggable proteins are defined as those with deep clefts or pockets, into which you can insert a small molecule drug, displacing water.  Undruggable proteins, however, have shallow clefts or lack clefts entirely, which means that drugs that bind will do so in the presence of water - and any attempts to design molecules to disrupt their behaviour will need to take water into account.</p>

        <p class="text-center"><img src="../img/druggable.svg"></p>

        <p>Thus, in order to drug the undruggable, you need to be able to understand and predict the forces at work with the high accuracy.  That means understanding the interactions between not just between the drug and the target, but the drug and the solvent to which it is exposed, and predict with high accuracy how those interactions will play out - something current molecular simulations are unable to do.</p>
      </div>
    </div>
  </div>
</section>
