<body>
   <div class="col-lg-8 col-lg-offset-2">
      <p style="font-family: Georgia">
        <md-block>
          ## Troubleshooting

*My headphones aren’t appearing in the Logitech HUB.* 
- The computer has not registered the headphones. Remove the USB and re-insert it. Alternatively, remove the USB, restart your computer, and then re-insert the USB.
 
*The Logitech HUB says my headphones are inactive.*
- Switch the power button on the headphones off and then on again. 
Alternatively, open and close the headphone’s microphone arm.

*My Speaker Setup window only has a Stereo option, not a 7.1 Surround option.*
- Your headphones have not been configured in the Logitech G HUB. Download the HUB and configure the headphones in there first. See the beginning of this tutorial for directions.
       </md-block>
      </p>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
   </div>
</body>
