<body>
   <div class="col-lg-8 col-lg-offset-2">
      <p style="font-family: Georgia">
        <md-block>
# Tutorial: How to Enable 7.1 Surround Sound in Logitech G533 Headphones for Windows 10
Your Logitech G533 Headphones features 7.1 channel virtual surround sound. Unless you enable the 7.1 channels after connecting the headphones, you will get a stereo output from your PC or laptop. This tutorial will teach you how to enable surround sound in your headphones for Windows 10. First, we need to enable surround in the Logitech HUB app.
## How to Configure Surround Sound in Logitech HUB
1. Download the Logitech G HUB app. You can find it here: [Logitech G HUB Advanced Gaming Software, RGB & Game Profiles](https://www.logitechg.com/en-nz/innovation/g-hub.html)
2. Click on Download for Windows, and follow the onboarding instructions.
3. Once the application is installed, plug your headphones into any USB port on your PC or laptop.
4. The G HUB application will recognize your device, and G533 will appear in the portal. Click on the image of your headphones.
5. Your headphones have two sound options: Acoustics and Surround Sound. Click on Surround Sound. Then, check the box labeled Enable Surround Sound.

Your headphones are now enabled for surround sound in the Logitech app. To hear this surround sound in other applications, you also need to configure the sound for Windows 10.
## How to Configure Surround Sound in Windows 10
1. Press the Windows key and the R key to open a Run window. In the Open box, type “mmsys.cpl”. Click OK to open the Sound Properties.
2. In the Playback tab, select the Logitech G533 Gaming Headset. Click on Set Default and then click Configure.
3. In the Speaker Setup window, select 7.1 Surround, and then click Next. 
4. Under Optional speakers, select all of the boxes. These represent the traditional speaker set up in a surround sound system, and selecting a box will activate that directional sound in your headphones. Click Next.
5. Under Full-range speakers, select both boxes, and click Next.
6. Then, click Finish.

Your Logitech G533 Gaming Headset surround sound is now configured for your computer. 
## Testing
Now, let's test your headphones. Clicking Finish will send you back to the Playback window.
1.  In Playback, right-click on your now-configured Logitech G533 Gaming Headset, and select Test.
2. You should now start hearing test sounds coming from each of the surround sound directions in your headphones. Use this test to make sure every direction works.
                  <!-- info alert -->
                <div class="alert alert-info">
                  <p> <p style="font-family: Georgia"> <b>NOTE:</b> Another way to test your sound is by clicking the Configure button and then the Test button. This option will also give you a visual representation of which audio direction is being tested. </p>
                </div>
       </md-block>
      </p>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
   </div>
</body>
