<body>
  <div class="col-lg-8 col-lg-offset-2">
    <p style="font-family: Georgia">
        <md-block>
# User Guide: Discord for Business 
## Getting Started
Discord is a voice, video, and text chat app used internationally to connect users in real time. Using Discord for your Business will enable your team to communicate and problem solve efficiently. Discord can be accessed on your mobile phone or computer, and it is compatible with iOS, Android, Mac, and PC, so your team has a variety of options.
## Servers
When you join Discord, it will prompt you to create or join a server. A server is a home for your business. It is a collection of separate text chains or channels that you can label according to topic, including a main channel for general communication. You can make this server private or public, and invite your team members to join the server.

This is an example of a server:

max-width: 100%;
height: auto;
display: block;
<img class="img-responsive" src="/img/Discord Server.png">

Notice here we have channels devoted to different team members in our business. You create and name your channels, so you have the freedom to decide how the texts should be divided. Channels can be separated by project, team, topic, and so on.
      </md-block>
         </p>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    </div>
</body>
