html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: red; //added
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.p-tagline {
    @include sans-serif-font; 
    font-size: 300px; //header tagline
    font-weight: 200;
    text-transform: none;
    line-height: 1.5;
    margin-bottom: 20%;

}

.bg-primary {
    background-color: teal; //bio body
}

.bg-dark {
    background-color: green; //color
    color: white;
}

.text-faded {
    color: (yellowgreen); //category tcxt color?
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: wheat; //color
    opacity: 0.3; //added
    border-color: $theme-dark;
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: rgb(255, 0, 221); //color to violet
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-link, 10%); //changed link color from primary
        }
    }

    // transparent navigation
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-link; //changed link color
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-link !important;
                    background-color: olivedrab; //changed
                    &:hover {
                        background-color: powderblue; //changged
                    }
                }
            }
        }
    }

    // logo settings
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: $theme-link;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: pink;
            &:hover {
                color: $theme-link;
            }
        }
        &.affix {
            background-color: white;
            opacity: 0.1; //scrolling nav bar desktop transparency
            border-color: $theme-dark; // , .5 ?
            .navbar-header .navbar-brand {
                color: $theme-dark;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-link, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark; //default nav link color
                &:hover {
                    color: $theme-link;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    background-attachment: scroll; //change to fixed for mobile
    color: white;
    .header-content {
        position: relative;
        text-align: left; //center
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 1200;
                text-transform: none;
                text-align: left; //title
                color: #fff;
                margin-top: 22%;
                margin-bottom:1%;
            }
            h2 {
                font-weight: 300;
                text-transform: none;
                text-align: left; //center
                color: #fff; //color
                margin-top: 1%;
                margin-bottom: 10%;
                font-size:18px; //size
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba( #222);
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute; // changed abs
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 10 50px; //was 0
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity:.8; //was 0
        display: block;
        background: rgba( blue); //port color
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: black; //body text
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: orange;
    font-size: 14em; //was 4
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: greenyellow; //changed 
}

::selection {
    color: white;
    text-shadow: none;
    background: pink; //changed
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

