html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include sans-serif-font;
}

hr {
    border-color:#fff;
    border-width: 3px;
    max-width: 250px;

}
hr.accent {
    border-color: $theme-main-link;
    max-width:250px;
    border-width: 3px;
}

a {
    @include transition-all;
    color: $theme-main-link; 
    font-weight: 400; //regular links
    &:hover {
        color: $theme-link;
        text-decoration-line: line-through;
        font-weight: 500;
    }
    &:focus {
        color: $theme-link;
        text-decoration-line: none;
        font-weight: 500;
    }
}

h1,
h2,
h4,
h5,
h6 {
    @include sans-serif-font;
}

h3.italic {
        font-family: 'Times New Roman', Times, Serif;
        font-style: oblique;
        font-weight: 250;
        font-size: 19px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px; //ch
}

.p-tagline {
    @include sans-serif-font; 
    font-size: 40px; //header tagline
    font-weight: 900;
    text-transform: none;
    line-height: 0;
    margin-bottom: 50%;
    text-align: left;
    color: #fff; //color

}

.bg-primary {
    background-color: #222; // body
}

.bg-dark {
    background-color: #222; //color
    color: #fff;
}

.text-faded {
    color: #fff; //portfolio category
}

.synopsis {
    width: 100%;
    padding: 50px 50px;
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0px;
}

.no-padding {
    padding: 0;
}

// Mobile navigation and logo

.navbar-default {
    background-color: #222;
    opacity: 1;
    border-color: transparent;
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: #fff;
        @include sans-serif-font;
        font-weight: 250;
        text-transform: uppercase;
        font-size: 30px;
        &:hover,
        &:focus {
            color: $theme-link;
        }
    }

    //  all nav
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                text-align: left;
                font-weight: 500;
                font-size: 18px;
                color: #fff;
               // padding-right: 5px;
                &:hover {
                    color: $theme-link;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color:  $theme-main-link !important; //section highlight
                    background-color: transparent;
                    &:hover {
                        background-color: #141414; //behind nav section on bg
                    }
                }
            }
        }
    }

    // logo settings / big transparent
    @media (min-width: 600px) {
        background-color: transparent;
        border-color: transparent;
        .navbar-header .navbar-brand {
            color: $theme-main-link;
            font-size: 30px; //static logo
            font-weight: 180;
            &:hover,
            &:focus {
                color: $theme-link;
                font-weight: 200; //logo
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: #fff; //main nav color
            &:hover {
                color: $theme-link;
            }
        }
        &.affix {
            background-color: $theme-dark;
            opacity: 1; //scrolling fixed nav bar desktop transparency
            border-color: transparent;
            .navbar-header .navbar-brand {
                color: #f3f3f3;
                font-size: 40px; //logo scroll down
                opacity: 1;
                font-weight: 180;
                &:hover,
                &:focus {
                    color: $theme-link;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: #fff; //default nav link color
                &:hover {
                    color: $theme-link;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: auto;
    min-height: auto;
    @include background-cover;
    background-position: center;
    //background-image: url('../img/header5.jpg');
    text-align: left;
    background-attachment: fixed; //change to fixed for mobile
    background-color: #222;
    .header-content {
        position: relative;
        text-align: left;
        padding: 90px 90px 90px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 500;
                text-transform: none;
                text-align: left; //title
                color: #fff;
                margin-top: 58%;
                margin-bottom: 10px;
                font-size: 45px;
                font-family: 'Times New Roman', Times, serif;
            }
            h2 {
                font-weight: 392;
                text-transform: none;
                text-align: left;
                color: #8a8a8a;
                margin-bottom: 50%;
                margin-top: 12px;
                font-size: 22px;
            }
            hr {
                margin: 30px auto;
            }
          //  p {
                font-weight: 400;
                color: inherit;
                margin-bottom: 0px;
           // }
        }
    }
    @media (min-width: 600px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 100 50px;
            .header-content-inner {
                max-width: auto;
                margin-left: auto;
                margin-right: auto;
                p {
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Scrollbar

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1d1d1d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00dfae;
  }

  // images

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,

.img-gen > .item > a > img {
     border-radius: 8px;
     padding: 8px;
}

.img-block {
     display: inline-block;
     max-width: 85%;
     height: auto;
     border-radius: 20px;
     padding: 15px;
}

.img-float-right {
     display: inline-block;
     float: right;
     max-width: 60%;
     height: auto;
     border-radius: 20px;
     padding: 15px;
}

.img-float-left {
     display: inline-block;
     float: left;
     max-width: 50%;
     height: auto;
     border-radius: 20px;
     padding: 15px;
}

.img-test {
     display: block;
     float: right;
     max-width: 50%;
     height: auto;
     border-radius: 20px;
     padding: 15px;
}

// Sections

.section-heading {
    font-family: 'Times New Roman', Times, Serif;
    margin-top: 0px;
    margin-bottom: -4px;
    font-size: 40px;
    font-weight: 400px;
    letter-spacing: -0.5px;
}
h2.section-heading
{ 
    font-family: 'Times New Roman', Times, Serif;
    margin-top: 0px;
    margin-bottom: -4px;
    font-size: 40px;
    font-weight: 400px;
    letter-spacing: -0.5px;
}

.service-box {
    max-width: 500px;
    margin: 30px auto 0;
    @media (min-width: auto) {
        margin: 15px 10px 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 900px;
    max-height: 900px;
    background-color: #222;
    object-fit: contain;
    //background-size: cover;
    .portfolio-box-caption {
        color: $theme-main-link; //projectname color
        opacity: 0; //text on top
        display: block;
        background: #141414; //port overlay
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            height: auto;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: none;
                font-weight: 480;
                font-size: 14px;
            }
            .project-name {
                font-size: 20px;
                font-weight: 520;
                letter-spacing: -0.6px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
            //filter: blur(1.0rem);
        }
    }
    @media (min-width: 800px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 14px;
                    font-weight: 330;
                    color: #fff;
                }
                .project-name {
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: -0.6px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides

.text-primary {
    color: $theme-body-text-light;
    font-size: 15px;
    @include sans-serif-font;
    color: #f1f1f1;
    font-weight: 410;
    line-height: 150%;
   // letter-spacing: 1.1px;
    //text-indent: 18%;

}

.no-gutter > [class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #222;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-link;
    font-size: 3em;
    text-align: center;
    position: relative;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: #222;
    text-shadow: none;
    background: #fff; //changed 
}

::selection {
    color: #fff;
    text-shadow: #000;
    background: $theme-link; //highlight
}

img::selection {
    color: #222;
    background: #000;
}

img::-moz-selection {
    color: #fff; //white
    background: #000;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}