html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include sans-serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-main-link; 
    font-weight: 400; //regular links
    &:hover {
        color: $theme-link;
        text-decoration-line: overline;
        font-weight: 500;
    }
    &:focus {
        color: $theme-link;
        text-decoration-line: none;
        font-weight: 500;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px; //ch
}

.p-tagline {
    @include sans-serif-font; 
    font-size: 40px; //header tagline
    font-weight: 900;
    text-transform: none;
    line-height: 0;
    margin-bottom: 50%;
    text-align: left;
    color: #fff; //color

}

.bg-primary {
    background-color: #222; // body
}

.bg-dark {
    background-color: #222; //color
    color: #fff;
}

.text-faded {
    color: #fff; //portfolio category
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation Main

.navbar-default {
    background-color: #222;
    opacity: 1;
    border-color: transparent;
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: #fff;
        @include sans-serif-font;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        &:hover,
        &:focus {
            color: $theme-link;
        }
    }

    //  navigation bar mobile
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                text-align: left;
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                &:hover {
                    color: $theme-link;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color:  $theme-main-link !important; //section highlight
                    background-color: transparent;
                    &:hover {
                        background-color: #1d1d1d; //behind nav section on bg
                    }
                }
            }
        }
    }

    // logo settings / big transparent
    @media (min-width: 600px) {
        background-color: transparent;
        border-color: transparent;
        .navbar-header .navbar-brand {
            color: #ffffff;
            font-size: 30px; //static logo
            font-weight: 400;
            &:hover,
            &:focus {
                color: $theme-link;
                font-weight: 400; //logo
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: #fff; //main nav color
            &:hover {
                color: $theme-link;
            }
        }
        &.affix {
            background-color: $theme-dark;
            opacity: 1; //scrolling fixed nav bar desktop transparency
            border-color: transparent;
            .navbar-header .navbar-brand {
                color: #d6d6d6;
                font-size: 40px; //logo scroll down
                opacity: 1;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: $theme-link;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: #fff; //default nav link color
                &:hover {
                    color: $theme-link;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: auto;
    min-height: auto;
    @include background-cover;
    background-position: center;
    //background-image: url('../img/header5.jpg');
    text-align: left;
    background-attachment: fixed; //change to fixed for mobile
    background-color: #222;
    .header-content {
        position: relative;
        text-align: left;
        padding: 20px 50px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 530;
                text-transform: none;
                text-align: left; //title
                color: #fff;
                margin-top: 50%;
                margin-bottom: 0px;
            }
            h2 {
                font-weight: 450;
                text-transform: none;
                text-align: left;
                color: #c4c4c4;
                margin-top: 0px;
                margin-bottom: 30%;
                font-size: 16px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 400;
                color: inherit; // color
                font-size:34px;
                margin-bottom: 0px;
            }
        }
    }
    @media (min-width: 600px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 60%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 20px 100 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                   // font-size: 20px;
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: auto;
    margin: 0 auto;
    background-color: black;
    .portfolio-box-caption {
        color: $theme-main-link; //projectname color
        opacity: 0; //text on top
        display: block;
        background: $theme-dark; //port color
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 16px;
            }
            .project-name {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 0.8;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    background-color: #222; // category-color
                }
                .project-name {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: #fff; //body text
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: rgb(223, 223, 223);
    font-size: 2em; //was 4
    text-align: center;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: #222;
    text-shadow: none;
    background: #fff; //changed 
}

::selection {
    color: #222;
    text-shadow: none;
    background: $theme-link; //highlight
}

img::selection {
    color: white;
    background: #000;
}

img::-moz-selection {
    color: #fff; //white
    background: #000;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

