.btn {
  border-radius: 2em;
  padding: 0.5em 1.5em;
  background-color: rgba(var(--primary),1);
  color: rgba(var(--light),1);
  font-size: 1rem;
  font-weight: 600;

  .arrow {
    display: block;
    width: 2em;
    height: 1.5em;
    float: right;
    background-color: rgba(var(--light));
    -webkit-mask: url('../img/icon-arrow.svg') no-repeat center right;
    -webkit-mask-size: 20px;
  } 

  &.btn-primary {
    background-color:rgba(var(--primary));
    color: rgba(var(--light));

    .arrow {
      background-color: rgba(var(--light));
    }

    &.btn-outline {
      border-color: rgba(var(--primary));
      color: rgba(var(--primary));
      background-color:rgba(var(--primary),0);

      .arrow {
        background-color: rgba(var(--primary));
      }

      &:hover {
        transition: all 0.3s;
        background-color:rgba(var(--primary),1);
        color: rgba(var(--light));
  
        .arrow {
          transition: all 0.3s;
          background-color: rgba(var(--light));
        }
      }
    }

    &:hover {
      transition: all 0.3s;
      background-color:rgba(var(--light));
      color: rgba(var(--primary));

      .arrow {
        transition: all 0.3s;
        background-color: rgba(var(--primary));
      }
    }
  }

  &.btn-secondary {
    background-color:rgba(var(--secondary));
    color: rgba(var(--dark));
    transition: all 0.3s;

    .arrow {
      transition: all 0.3s;
      background-color: rgba(var(--dark));
    }

    &.btn-outline {
      border-color: rgba(var(--secondary));
      color: rgba(var(--secondary));
      background-color:rgba(var(--secondary),0);

      .arrow {
        background-color: rgba(var(--secondary));
      }
    }

    &:hover {
      transition: all 0.3s;
      background-color:rgba(var(--secondary));
      color: rgba(var(--dark));

      .arrow {
        transition: all 0.3s;
        background-color: rgba(var(--dark));
      }
    }
  }

  &.btn-light {
    background-color:rgba(var(--light));
    color: rgba(var(--dark));

    .arrow {
      background-color: rgba(var(--dark));
    }

    &.btn-outline {
      border-color: rgba(var(--light));
      color: rgba(var(--light));
      background-color:rgba(var(--light),0);

      .arrow {
        background-color: rgba(var(--light));
      }
    }

    &:hover {
      transition: all 0.3s;
      background-color:rgba(var(--light));
      color: rgba(var(--dark));

      .arrow {
        transition: all 0.3s;
        background-color: rgba(var(--dark));
      }
    }
  }
}

.link-arrow {
  color: rgba(var(--link));
  font-weight: 600;
  display: flex;
  align-items: center;

  .arrow {
    position: relative;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1em;
    float: right;
    background-color: rgba(var(--link));
    -webkit-mask: url('../img/icon-arrow.svg') no-repeat center right;
    -webkit-mask-size: 20px;
    transition: all 0.1s;
  }

  &:hover {
    cursor: pointer;
    color: rgba(var(--acc-pink));
    .arrow {
      background-color: rgba(var(--acc-pink));
      left: 0.3em;
      transition: all 0.1s;
    }
  }
}