.btn-primary {
  @include button(--primary, --light, 1em);
}

.btn-secondary {
  @include button(--secondary, --light, 1em);
}

.btn-light {
  @include button(--primary, --light, 1em);
}

.link-arrow {
  color: rgba(var(--link));
  font-weight: 600;
  display: flex;
  align-items: center;

  .arrow {
    position: relative;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1em;
    float: right;
    background-color: rgba(var(--link));
    -webkit-mask: url('../img/icon-arrow.svg') no-repeat center right;
    -webkit-mask-size: 20px;
    transition: all 0.1s;
  }

  &:hover {
    cursor: pointer;
    color: rgba(var(--secondary));
    .arrow {
      background-color: rgba(var(--secondary));
      left: 0.3em;
      transition: all 0.1s;
    }
  }
}