/* Services */

#services .col-lg-3.col-md-6.text-center {
    padding: 25px 0 25px 0;

    @media (max-width: $min-screen-width) {
        padding: 0;
    }
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: $min-screen-width) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}
