/* Services */

#services .col-lg-3.col-md-6.text-center {
    padding-top: 25px;
    padding-bottom: 25px;
}

#services h3 {
	margin-top: 28px;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: $min-screen-width) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}
