/* The background overlay */
.overlay {
  z-index: 1031; /* Sit on top of thge nav bar which is 1030 by default as defined in the bootstrap.min.css */
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;

  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  right: 20px;
  font-size: 40px;
  text-decoration: none;
  /* Center the button vertically in div */
  top: 50%;
  transform: translateY(-50%);
  /* Tweak the close button design to be perfectly verticaly aligned with the title */
  padding-bottom: 5px;

  /* Tweak to enforce the close button to instantly disappear */
  transition: 0s;
}

/* Navigation Bar */

#slideshowNavbar {
  /* Small screen styling - screen sizes smaller than $min-screen-width */
  box-shadow: 0 1px 0px rgba($theme-primary, .9);
  background-color: $white;
  /* Minor tweak to keep the nav bar to the same size */
  padding-top: 8px;
  padding-bottom: 8px;
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $theme-primary;
    @media (max-width: 400px) {
      font-size: 1em;
    }
  }

  /* Base styling for the navbar - screen sizes larger than $min-screen-width */
  @media (min-width: $min-screen-width) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

/* Horizontal Carousel */

.carousel {
  /* Center the carousel vertically */
  top: 50%;
  transform: translateY(-50%);
}

.carousel-cell {
  width: 60%;
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 1;
}

.flickity-page-dots .dot {
  /* Change the color of the active dots to hover color of the navigation elements */
  background: hsla(0, 0%, 100%, .75);
}

/* You can enable and disable Flickity with CSS.
  The `watchCSS` option watches the content of :after of the carousel element.
  Flickity is enabled if :after content is 'flickity'.*/
.carousel:after {
  /* Enable flickity by default */
  content: 'flickity';
  display: none;
}

/* Disable Flickity for large devices and configure CSS for vertical carousel */
@media screen and ( max-width: 1000px ) {

  .carousel:after {
    content: '';
  }

  .carousel {
    top: 0%;
    transform: translateY(0%);
    /* Top margin corresponding to the navbar height + cell top margin */
    margin-top: 60px;
  }

  .carousel-cell {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }
}
