.icon {
  width: 64px;
  margin-bottom: 0;
}

// Home Page
.anim-atom {
  position: relative;

  .b {
    z-index: 1;

    .b0 {
      background-color: rgba(var(--secondary));
      width: 10%;
      padding-bottom: 10%;
      border-radius: 50%;
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    @for $i from 1 through 4 {
      .b#{$i} {
        width: 5%;
        padding-bottom: 5%;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(var(--primary));
        transform: translate(-50%, -50%);
        animation: bounce 5s infinite;
        animation-delay: calc(#{$i}s * 0.3s);

        &:after {
          animation: bounceReverse 5s infinite;
          animation-delay: calc(#{$i}s * 0.3s);
        }
      }
    }

    .b1 {
      top: 32%;
      left: 36%;
    }

    .b2 {
      top: 15%;
      left: 60%;
    }

    .b3 {
      top: 57%;
      left: 60%;
    }
  }

  .o {
    position: relative;
    transform: scaleY(0.5);
    width: 100%;
    padding-bottom: 70%;
    z-index: -1;
  }

  @for $i from 0 through 3 {
    .c#{$i} {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 3px solid rgba(var(--secondary));
      animation: bounceCircle 5s infinite;
      animation-delay: calc(#{$i}s * 0.3s);
    }
  }

  .c0 {
    width: 30%;
    padding-bottom: 30%;
  }

  .c1 {
    width: 60%;
    padding-bottom: 60%; 
  }

  .c2 {
    width: 90%;
    padding-bottom: 90%;
  }

  @keyframes bounce {
    0% { 
      margin-top: 0px;
    }
    50% { 
      margin-top: 10px;
    }
    100% { 
      margin-top: 0px;
    }
  }
  
  @keyframes bounceCircle {
    0% { 
      margin-top: 0px;
    }
    50% { 
      margin-top: 70px;
    }
    100% { 
      margin-top: 0px;
    }
  }
  
  @keyframes bounceReverse {
    0% { 
      top: 60px;
    }
    50% { 
      top: 50px;
    }
    100% { 
      top: 60px;
    }
  }
}

// Technology Page
.technology {
  .b1, .b2, .b3 {
    background-color: rgba(var(--light)) !important;
  }
}

// Partnership Page
.anim-partner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 150px;
  over-flow: hidden;

  @for $i from 1 through 5 {
    .d {
      position: absolute;
      display: block;
      width: 50px;
      height: 100px;
      top: 0%;
      left: 50%;
      border-radius: 50%;
      background: rgba(var(--secondary));
      transform: translate(-50%, -120%);
      z-index: 100;
    }

    .c {
      position: absolute;
      top: 0px;
      width: 100%;
      padding-bottom: 100%;
      border-radius: 50%;
      transform: scaleY(0.5);

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 60%;
        height: 60%;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-60%);
        border: 3px solid rgba(var(--light));
        border-radius: 50%;
        z-index: 99;
      }
  
      .b#{$i} {
        position: absolute;
        display: block;
        width: 70%;
        height: 70%;
        top: -50%;
        left: 15%;
        border-radius: 50%;
        animation: moveCircle#{$i} 25s infinite;
        animation-delay: $i * 2s;
        transform: rotate($i * -50deg);
        z-index: 100;
  
        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          background: rgba(var(--secondary));
          width: 20px;
          height: 40px;
          border-radius: 50%;
          animation: moveBall#{$i} 25s infinite;
          animation-delay: $i * 2s;
          transform: rotate($i * 50deg);
        }

        &:before {
          content: "";
          position: absolute;
          top: 29%;
          left: -5%;
          width: calc(64%);
          height: 3px;
          background: rgba(var(--secondary));
          z-index: 100;
          transform: rotate(45deg);
          animation: moveLine#{$i} 25s infinite;
          animation-delay: $i * 2s;
          z-index: 0;
        }
      }
    }

    @keyframes moveCircle#{$i} {
      0% { 
        transform: rotate(calc(#{$i} * -50deg));
      }
      100% { 
        transform: rotate(calc(360deg + #{$i} * -20deg));
      }
    }
    
    @keyframes moveBall#{$i} {
      0% { 
        transform: rotate(calc(#{$i} * 50deg));
      }
      100% { 
        transform: rotate(calc(-360deg + (#{$i} * 20deg)));
      }
    }

    @keyframes moveShadow#{$i} {
      0% { 
        transform: rotate(calc(#{$i} * 50deg)) translate(0,300%);
      }
      100% { 
        transform: rotate(calc(-360deg + (#{$i} * 20deg))) translate(0,300%);
      }
    }
  }
}

// About Page
.anim-about {
  position: relative;
  width: 100%;
  min-height: 250px;
  z-index: 100;

  .graph {
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
    height: 250px;
    background: url(../img/img-discovery.svg);
    background-position: center top;
    background-repeat:  no-repeat;
    background-size: 400px;
    z-index: 6;
  }

  @for $i from 1 through 10 {
    $ranx: random(50);
    $rany: random(100);
    $ran: random(2);

    span:nth-child(#{$i}) {
      position: absolute;
      top: #{$rany}px;
      left: calc((#{$i} * 10%) - 10%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      z-index: #{$i};
      animation: bounceAbout#{$i} ($ran + 3s) infinite;
    }

    @keyframes bounceAbout#{$i} {
      0% { 
        transform: translate(0px, 0px);
      }
      50% { 
        transform: translate(0px, calc($i * 15px));
      }
      100% { 
        transform: translate(0px, 0px);
      }
    }

    @keyframes bounceAboutUp#{$i} {
      0% { 
        transform: translate(0px, 0px) scale(1);
        filter: blur(5px);
      }
      50% { 
        transform: translate(0px, $i * -1 5px) scale(1.5);
        filter: blur(3px);
      }
      100% { 
        transform: translate(0px, 0px) scale(1);
        filter: blur(5px);
      }
    }
    
  }
}

.graphic {
  min-height: 20vh;
  align-items: center;
  display: flex;
}