/* Language Switcher */

select {
	/* Base styling for small screens */
	width: 40px;
	font-size: 1.5em;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;

	@media (min-width: $min-screen-width) {
		/* Base styling for large screens */
		margin-left: 15px;
	}

	/* Base styling for the navbar - screen sizes larger than $min-screen-width */
	@media (min-width: $min-screen-width) {
		width: 30px;
	}
}


/* CAUTION: Internet Explorer hackery ahead */

select::-ms-expand {
	/* Remove default arrow in Internet Explorer 10 and 11 */
	display: none;
}
