
/* Set a background color */
body-timeline {


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: $blue-gray;
  top: 0;
  bottom: 0;
  left: calc(50% - 3px);
}

/* Left container around content */
.container-left {
  padding: 10px 30px;
  position: relative;
  // background-color: black;
  width: 50%;
  //left: -20%;
}

/* The circles on the timeline for left container*/
.container-left::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}



/* Right container around content */
.container-right {
  padding: 10px 30px;
  position: relative;
  // background-color: black;
  width: 50%;
  left: 50%; 
}

/* The circles on the timeline for right container*/
.container-right::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  left: -13px; 
}


/* Add arrows to the left container (pointing right) */
.container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 20px;
  border: solid $gray300;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent  $gray300;
}

/* Add arrows to the right container (pointing left) */
.container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 20px;
  border: solid $gray300;
  border-width: 10px 10px 10px 0;
  border-color: transparent $gray300 transparent transparent;
}


/* Add arrows on top of the timeline */
.timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
  border: solid $blue-gray;
  border-width: 0px 20px 40px 20px;
  border-color: transparent transparent $blue-gray transparent;
  left: calc(50% - 20px);
}

/* The actual content */
.content {
  padding: 1px 5px;
  background-color: $gray300;
  position: relative;
  border-radius: 6px;
}


}

/* The beginning/ending of the timeline */

.beginning-image {
    border: solid 8px;
    border-color:$blue-gray;
    width: 200px; 
    height: auto;   
}