<!-- Section -->
<section class="fill-blue section-pad text-light section-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-pull-0 col-sm-12 text-right">
        <img src="img/img-careers.png" alt="Team Image"/>
        <br>
      </div>
      <div class="col-md-6 col-md-push-1 col-sm-12">
        <div class="text-block">
          <h3><small>Join the HTuO Team</small></h3>
          <h3>Join the HTuO Team</h3>
          <p>Our primary objective is to utilize the technology to develop drug optimization applications. There are also further applications in material sciences and complex biophysics.</p>
          <a href="careers.html" class="btn btn-light btn-outline">Get in Contact</a>
        </div>
      </div>
    </div>
  </div>
</section>
