<!-- Main Banner -->
<section class="page-banner-sm text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Careers & Growth</h2>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>Current Open Positions</h6>
        <p>Do you think you’re the right fit for us? We’re always interested in talking to talent and styles of working.</p>
        <p><a class="link-arrow" href="contact.html">Contact Us <span class="arrow"></span></a></p>
      </div>
      <div class="col-md-8 col-md-push-1">

        <div class="position">
          {{ content }}
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- {% include blocks/collaborate.html %} -->