<!-- Main Banner -->
<section class="page-banner-sm text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h6>Get in touch</h6>
        <p>We're happy to discuss partnerships and collaborations. <br/>If you'd like to learn more about our platform send us an email.</p>
        <h6>Address</h6>
        <p>400-610 Main St Vancouver, <br/>
        BC, Canada</p>
      </div>
      <div class="col-sm-3 col-md-push-1">
        <h6>Collaboration</h6>
        <p style="margin-bottom: 0.5em;">Contact us for interest in our technology and partnering with us for exploration</p>
        <a href="mailto:info@htuobio.com" class="btn btn-primary btn-outline">info@htuobio.com</a>
        <br/>
        <br/>

        <h6>Careers & Growth</h6>
        <p style="margin-bottom: 0.5em;">Join our team of talent and grow your career</p>
        <a href="careers:careers@htuobio.com" class="btn btn-primary btn-outline">careers@htuobio.com</a>
        <br/>
        <br/>

      </div>
      <div class="col-sm-3 col-md-push-1">
        <h6>Partnership</h6>
        <p>We’d love to hear from strategic partners & investors</p>
        <div class="contact-person" alt="Jacek Mis" />
          <img class="person" src="img/jacek-mis.jpg"/>
          <p>
            Jacek Mis<br>
          </p>
        </div>
        <div class="contact-person">
          <img class="person" src="img/anthony-fejes.jpg"/>
          <p>
            Anthony Fejes<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include blocks/career.html %}