  <!-- Main Banner -->
  <section class="main-banner fill-blue-grad text-light" ref="bannerBlock">
    <div class="loader"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 banner-block">
          <h1><small>Our Research</small></h1>
          <h1>We are designing the future of <span>molecule</span> <span>discovery</span></h1>
          <p class="lead">HTuO Biosciences develops advanced molecular simulation to accurately predict drug behavior through chemistry and computer programming.</p>
          <a href="research.html" class="btn btn-light btn-outline">
            Our Research
            <span class="arrow"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="section-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <div class="anim-atom">
            <div class="b">
              <span v-for="(i,k) in 4" :key="'b' + k" :class="'b' + k"></span>
            </div>
            <div class="o">
              <span v-for="(i,k) in 3" :key="'c' + k" :class="'c' + k"></span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-pull-5">
          <h2><small>Our technology</small></h2>
          <h2>A <span>revolution</span> in drug discovery & development</h2>
          <p>Drug development is time consuming, resource intensive and fails 90% of the time.</p>
          <p>A more predictive lead optimization process can lower the failure rate by improving effectiveness, lowering toxicity and increasing the absorption of drugs.</p>
          <a href="technology.html" class="btn btn-primary btn-outline">Learn More<span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="split-image text-light fill-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 image-block left">
          <div class="image" style="background-image: url('img/img-bubbles@2x.jpg');"></div>
        </div>
        <div class="col-sm-5 col-sm-push-1 text-block">
          <h3><small>Our Mission</small></h3>
          <h3>Why our <span>approach</span> is <span>different</span></h3>
          <p>HTuO’s tools are built with simplicity in mind. The molecular simulations require minimal setup and configuration, as they utilize no more than 3 atom types per element. Charge calculations are dynamically calculated throughout the simulation, thus bypassing the lengthy setup required by other simulation engines.</p>
          <a href="about.html" class="btn btn-secondary btn-outline">About Us<span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="section-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row section-pad-sm">
            <div class="col-sm-6">
              <img src="img/img-connected-dark.png" alt="HtuO Bioscience molecule">
            </div>
            <div class="col-sm-5 text-left">
              <h3><span>Collaborate</span> with us</h3>
              <p>Introducing high accuracy into modeling gives us and our partners the ability to address the challenges of drug design head-on. A more detailed understanding of how molecules interact allows for data-driven predictions of the best possible drug design - ultimately leading to fewer drugs failing and more efficacious drugs.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img class="icon" src="img/icon-discovery.svg" alt="Icon discovery"/>
              <h6>Strategic Partners</h6>
              <p>
                Learn more about our potential in the drug discovery markets of the future.<br>
                <a href="contact.html" class="link-arrow">Contact Us <span class="arrow"></span></a>
              </p>
            </div>
            <div class="col-sm-4">
              <img class="icon" src="img/icon-bond.svg" alt="Icon discovery"/>
              <h6>Collaboration & Data</h6>
              <p>
                We're happy to discuss partnerships and collaborations. If you'd like to learn more about our platform.<br>
                <a href="partnership.html" class="link-arrow">Partnerships <span class="arrow"></span></a>
              </p>
              
            </div>
            <div class="col-sm-4">
              <img class="icon" src="img/icon-careers.svg" alt="Icon discovery"/>
              <h6>Careers</h6>
              <p>
                We’re always on the lookout for talent. We’re open to fixed location and remote work.
                <a href="careers.html" class="link-arrow">See Careers <span class="arrow"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include blocks/career.html %}
  {% include blocks/news.html %}
