<!-- Main Banner -->
<section class="page-banner fill-blue-grad text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <div class="anim-atom">
          <div class="b">
            <span v-for="(i,k) in 4" :key="'b' + k" :class="'b' + k"></span>
          </div>
          <div class="o">
            <span v-for="(i,k) in 3" :key="'c' + k" :class="'c' + k"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6 banner-block">
        <h2><small>Our Technology</small></h2>
        <h2>A brand new <span>physics-based</span> approach to <span>molecular modeling</span></h2>
        <p class="lead">By re-building the physics from the ground up, we have developed a platform technology that is better able to predict the structure and conformation of molecules.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <img style="width: 200px; margin: 0 auto 2em auto;" src="img/img-atom.png" alt="HTuo Molecule">
        <h3>New mathematical approach</h3>
        <p>We use molecular dynamics and energy minimization simulations to take in coordinates and generate answers. Our math is different from the field and provides a better representation of the atomic level. Our simulations provide superior accuracy and insight.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="split-image fill-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 image-block left">
        <div class="image" style="background-image: url(img/img-waves.jpg);"></div>
      </div>
      <div class="col-sm-5 col-sm-push-1 text-block">
        <img class="icon" src="img/icon-chemistry.svg" alt="Icon Chemistry" />
        <h3>Running a simulation</h3>
        <p>HTuO’s tools are built with simplicity in mind. The molecular simulations require minimal setup and configuration, as they utilize no more than 3 atom types per element. Charge calculations are dynamically calculated throughout the simulation, thus bypassing the lengthy setup required by other simulation engines.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 text-left">
        <h3>Core <span>applications</span></h3>
        <p>Our primary objective is to utilize the technology to develop drug optimization applications. There are also further applications in material sciences and complex biophysics.</p>
        <div class="row category-group">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-discovery.svg" alt="Icon Discovery"/>
              <h6>Drug Optimisations</h6>
              <p>Develop drug optimization applications & solutions</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-bond.svg" alt="Icon Bond"/>
              <h6>Biophysics</h6>
              <p>Further biophysics and developmental physics</p>
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-genetic.svg" alt="Icon Bond"/>
              <h6>Material Sciences</h6>
              <p>Aid and develop material technologies</p>
            </div>
          </div> -->
        </div>
        <p><small>Reach out us and find out how we can collaborate.</small></p>
        <a href="contact.html" class="btn btn-primary btn-outline btn-arrow">Get in Touch <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>