<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<!-- Meta information, links and imports -->
	{% include meta.html %}
	<body id="page-top">
		<!-- navigation and header -->
		{% include navigation.html %}
		{% include header.html %}

		<!-- Sections -->
		{% include about.html %}
		{% include gallery.html %}
		{% include services.html %}
		{% include booking.html %}
		{% include activities.html %}

		<!-- Slideshow -->
		{% include slideshow.html %}

		<!-- Footer + Scripts -->
		{% include contact.html %}
		{% include scripts.html %}
	</body>
</html>